In [84]:
class Data:
    # def __init__(self):
  
    def load_data(self, csv_name):
        df = pd.read_csv(csv_name)
        return df
    
    def eda(self, df):
        print(df.info())
        print(df.country.unique())
        print(df.gender.unique())
        
    def clean(self, df):
        le = LabelEncoder()
        label = le.fit_transform(df['country'])
        df.drop("country", axis=1, inplace=True)
        df["country"] = label
        
        
        le2 = LabelEncoder()
        label = le.fit_transform(df['gender'])
        df.drop("gender", axis=1, inplace=True)
        df["gender"] = label
        
        df = df.drop(['customer_id'], axis = 1)
        return df
    
    def min_max_normalize(self, df, column):
        min = df[column].min()
        max = df[column].max()
        df[column] = (df[column] - min ) / (max - min)
        return df
    
    def normalize(self, df):
        columns = ['credit_score', 'age', 'tenure', 'balance', 'products_number', 'estimated_salary']
        for column in columns:
            df = self.min_max_normalize(df, column)
        
        return df
    
    def run_knn(self, n):
        
        return

In [85]:
model = Data()
raw_df = model.load_data('data.csv')
model.eda(raw_df)

cleaned_df = model.clean(raw_df)
print(cleaned_df)

normalized_df = model.normalize(cleaned_df)
print(normalized_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB
None
['France' 'Spain' 'Germany']
['Female' 'Male']
      credit_score  age  tenure    balance  products_number  credit_card  \
0              619   42       2       0.00                1            1
1              608   41       1   83807.86                1            0
2              502   42       8  159660.80                3            1
3              699   39       1       0.00                2            0
4              850   43       2  125510.82                1            1
...            ...  ...     ...        ...              ...          ...
9995           771   39       5       0.00                2            1
9996           516   35      10   57369.61                1            1
9997           709   36       7       0.00                1            0
9998           772   42       3   75075.31                2            1
9999           792   28       4  130142.79                1            1

      active_member  estimated_salary  churn  country  gender
0                 1         101348.88      1        0       0
1                 1         112542.58      0        2       0
2                 0         113931.57      1        0       0
3                 0          93826.63      0        0       0
4                 1          79084.10      0        2       0
...             ...               ...    ...      ...     ...
9995              0          96270.64      0        0       1
9996              1         101699.77      0        0       1
9997              1          42085.58      1        0       0
9998              0          92888.52      1        1       1
9999              0          38190.78      0        0       0

[10000 rows x 11 columns]
      credit_score       age  tenure   balance  products_number  credit_card  \
0            0.538  0.324324     0.2  0.000000         0.000000            1
1            0.516  0.310811     0.1  0.334031         0.000000            0
2            0.304  0.324324     0.8  0.636357         0.666667            1
3            0.698  0.283784     0.1  0.000000         0.333333            0
4            1.000  0.337838     0.2  0.500246         0.000000            1
...            ...       ...     ...       ...              ...          ...
9995         0.842  0.283784     0.5  0.000000         0.333333            1
9996         0.332  0.229730     1.0  0.228657         0.000000            1
9997         0.718  0.243243     0.7  0.000000         0.000000            0
9998         0.844  0.324324     0.3  0.299226         0.333333            1
9999         0.884  0.135135     0.4  0.518708         0.000000            1

      active_member  estimated_salary  churn  country  gender
0                 1          0.506735      1        0       0
1                 1          0.562709      0        2       0
2                 0          0.569654      1        0       0
3                 0          0.469120      0        0       0
4                 1          0.395400      0        2       0
...             ...               ...    ...      ...     ...
9995              0          0.481341      0        0       1
9996              1          0.508490      0        0       1
9997              1          0.210390      1        0       0
9998              0          0.464429      1        1       1
9999              0          0.190914      0        0       0

[10000 rows x 11 columns]